
/* Set the height of the comments section to 100% */
.comments {
  /* height: 100%; */
  /* width: 83%; */
  margin-left: 12%;
  font-family: 'Poppins';
  font-weight: lighter;
  font-size: small;
}

.comment-container {
  padding: 10px;
  border-bottom: .5px solid #ccc;
}

/* Set the width of the comments container to 100% on small screens */
@media screen and (max-width: 767px) {
  .comment-container {
    width: 100%;
    float: none;
  }
}


.comment-body, .comment-time {
  padding-left: 1.2em;
}

.comment-time {
  font-style: italic;
  font-size: 10px;
}

.input-section {
  margin-left: 12%;
  margin-top: 20px;
}


.comment-input {
  display:inline-flex;
  width: 60%;
  /* box-sizing: border-box; */
  height: 2em;
  border-radius: 17px;
  padding: 10px;
  resize: none;
}

.post-button {
  margin-left: 2em;
  width: 80px;
  padding: 10px;
  background-color: #72ccff;
  color: #fff;
  border-radius: 20px;
  cursor: pointer;
  font-size: 17px;
  border: none;
}

#comment-form {
  display: flex;

}


