#container {
  margin-top: 1em;
  border-style: solid;
  border-color: rgb(210, 210, 209);
  border-width: 2px;
  border-radius: 5px;
}

.post-content {
  max-width: 100%;
	margin: 0 auto;
	padding: 20px;
	width: 84%;
	float: center;
  display: flex;
	flex-direction: column;
}

.post-author {
  font-size: medium;
  margin-bottom: 1em;
  margin-top: 1em;
  font-size: .7em;
}

.post-content img {
  align-items: center;
  max-width: 100%;
  height: auto;
  min-height: 250px;
}

.post-author img {
  border-radius: 50%;
  width: 25px;
  min-height: 25px;
}

.post-user {
  display: inline;
  margin-left: .5em;
}

.post-time {
  display: inline;
  margin-left: 5em;
}

.post-title, .post-body {
  padding: 0;
  font-size: .9em;
  /* letter-spacing: 1px; */
  line-height: 1.3;
  /* margin: .5em; */
}

.post-title {
  font-size: 1.5em;
  font-weight: bolder;
}

.comment-title {
  margin-left: 8%;
  margin-right: 8%;
  font-family: 'Poppins';
  font-weight: bolder;
  font-size: medium;
  border-top: 1px solid #ccc;
  padding-top: 1em;
}

.comment-title p {
  display: inline;
}


/* Set the height of the comments section to 100% */
.comments {
  /* height: 100%; */
  /* width: 83%; */
  margin-left: 10%;
  font-family: 'Poppins';
  font-weight: lighter;
  font-size: small;
}

.comment-container {
  padding: 10px;
  /* border-bottom: .5px solid #ccc; */
}




.comment-body, .comment-time {
  padding-left: 1.2em;
}

.comment-time {
  font-style: italic;
  font-size: 10px;
}

.input-section {
  margin-left: 10%;
  margin-top: 20px;
  font-size: small;
  margin-bottom: 3em;
}

.comment-input {
  display:inline-flex;
  width: 60%;
  /* box-sizing: border-box; */
  height: 2em;
  border-radius: 17px;
  padding: 10px;
  resize: none;
}

.post-button {
  margin-left: 2em;
  width: 80px;
  padding: 10px;
  background-color: #72ccff;
  color: #fff;
  border-radius: 20px;
  cursor: pointer;
  font-size: small;
  border: none;
}

#comment-form {
  display: flex;

}


/* Set the width of the comments container to 100% on small screens */
@media screen and (max-width: 767px) {
  #container {
    width: 80%;
  }

  .comment-container {
    width: 100%;
    float: none;
  }

}