/* html, body{
    height:100%;
    width:100%;
}

.container{
    margin:auto;
    align-items: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    height:100%;
    width:100%;
}

.heading{
    min-width:210px;
    color:#72ccff;
    font-weight:bolder;
    font-family:'Poppins';
    font-size: 48px;
    text-align: center;
    padding-bottom: 0.25em;
}


.login{
    min-width:210px;
    color:white;
    background-color: #72ccff;
    border-radius: 15px;
} */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */
body {
    line-height: 1.7em;
    color: #7f8c8d;
    font-size: 16px;
    font-family:'Poppins';
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
    color: #34495e;
}

.pure-img-responsive {
    /* max-width: 100%; */
    height: 100%;
    width:100%;

}
.fix{
    position:absolute;
    transform:translate(-50%,-50%)
}
.background_img{
    object-fit:cover;
}


/*
 * -- LAYOUT STYLES --
 * These are some useful classes which I will need
 */
.l-box {
    padding: 1em;
}

.l-box-lrg {
    padding: 2em;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.is-center {
    text-align: center;
}



/*
 * -- PURE FORM STYLES --
 * Style the form inputs and labels
 */
.pure-form label {
    margin: 1em 0 0;
    font-weight: bold;
    font-size: 100%;
}

.pure-form input[type] {
    border: 2px solid #ddd;
    box-shadow: none;
    font-size: 100%;
    width: 100%;
    margin-bottom: 1em;
}

/*
 * -- PURE BUTTON STYLES --
 * I want my pure-button elements to look a little different
 */
.pure-button {
    background-color: #1f8dd6; 
    color: white;
    padding: 0.5em 2em;
    border-radius: 5px;
}

a.pure-button-primary {
    background: white;
    /*color of the button 'login'*/
    /* color: #1f8dd6; */
    color:#373737;
    border-radius: 5px;
    font-size: 120%;
}



/*
 * -- SPLASH STYLES --
 * This is the blue top section that appears on the page.
 */

.splash-container {
    background: #72ccff;
    z-index: 1;
    overflow: hidden;
    /* The following styles are required for the "scroll-over" effect */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed !important;
}

.splash {
    /* absolute center .splash within .splash-container */
    width: 80%;
    height: 50%;
    margin: auto;
    position: absolute;
    top: 100px; left: 0; bottom: 0; right: 0;
    text-align: center;
    text-transform: uppercase;
  
}

/* This is the main heading that appears on the blue section */
.splash-head {
    font-size: 28px;
    font-weight: bold;
    color: white;
    /* border: 3px solid white; */
    padding: 1em 1.6em 0em;
    font-weight: 100;
    border-radius: 5px;
    line-height: 1em;
}

/* This is the subheading that appears on the blue section */
.splash-subhead {

    color: white;
  
    letter-spacing: 0.05em;
    opacity: 0.8;
}


/*
 * -- TABLET (AND UP) MEDIA QUERIES --
 * On tablets and other medium-sized devices, we want to customize some
 * of the mobile styles.
 */
@media (min-width: 48em) {

    /* We increase the body font size */
    body {
        font-size: 16px;
    }

    /* We increase the height of the splash-container */
   /* .splash-container {
        height: 500px;
    } */

    /* We decrease the width of the .splash, since we have more width
    to work with */
    .splash {
        width: 50%;
        height: 50%;
        max-width:1150px;
    }

    .splash-head {
        font-size: 250%;
    }


    /* We remove the border-separator assigned to .l-box-lrg */
    .l-box-lrg {
        border: none;
    }

}

/*
 * -- DESKTOP (AND UP) MEDIA QUERIES --
 * On desktops and other large devices, we want to over-ride some
 * of the mobile and tablet styles.
 */
@media (min-width: 78em) {
    /* We increase the header font size even more */
    .splash-head {
        font-size: 300%;
    }
}