.user-icon{
    width: 100px;
    margin-right: 5em;
}

.profile-details{
    padding: 5em;
    border-bottom: 1px solid #ccc;
    text-align: right;
}

.profile-subdetails{
    padding: 5em;
    text-align: center;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

.profile-subdetails > div{
    width: 20%;
}

.profile-images{
    justify-content: center !important;
    text-align: center;
}

.profile-subdetails-middle{
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
}


.upload-box {
    display: inline-block;
    width: 10em;
    height: 10em;
    background-color: #eee;
}


.edit-profile-form{
    padding-top: 5em;
    display: flex;
    justify-content: center;
}

.edit-profile-form form input{
    width: 30em;
}

.edit-profile-form button{
    margin-left: 30em;
    width: 20%;
    margin-top: 2em;
    padding: 10px;
    background-color: #72ccff;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
    font-size: 17px;
    border: none;
    
}

.profile-name{
    text-align: left;
    width: 45%;
}

.profile-icon{
    width: 35%;
}

.personal-menus a{
    color: inherit;
    text-decoration: none;
}

.personal-submenus a{
    color: inherit;
    text-decoration: none;
    font-weight: 900;
    font-size: 20px;
}

.edit-button{
    padding: 10px;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
    font-size: 17px;
    border: none;
    margin-top: 5%;
    width: 60%;
    background-color: #72ccff;
}

.delete-account-button{
    padding: 10px;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
    font-size: 17px;
    border: none;
    margin-top: 6%;
    width: 60%;
    background-color: red;
}

.edit-profile-name{
   text-align: left;
}