* {
  font-family: 'Poppins';
  font-weight: lighter;
}

.user-icon{
    width: 100px;
    margin-right: 5em;
    border-radius: 50%;
}

.profile-details{
    padding: 5em;
    border-bottom: 1px solid #ccc;
    text-align: left;
}

.profile-icon {
  text-align: right;
}

.profile-subdetails{
    /* padding: 5em; */
    text-align: center;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

.profile-subdetails > div{
    width: 20%;
}

.profile-images{
    justify-content: center !important;
    text-align: center;
}

.profile-subdetails-middle{
    border-left: 1px solid #ccc;
}

.profile-img{
    width: 100%;
    height: 100%;
}


.upload-box {
    position: relative;
    display: inline-block;
    width: 10em;
    height: 10em;
    background-color: #eee;
}

.upload-box:hover > a{
    display:block;
}

.upload-box a{
    position: relative;
    padding: 0;
    background-color: transparent;
    left: 65px;
    bottom: 160px;
    display:none;
    color: #373737 !important;
}

.upload-box a:hover{
    background-image:none;
    color:#000000 !important;
}

.edit-profile-form{
    padding-top: 5em;
    display: flex;
    justify-content: center;
}

.edit-profile-form form input{
    width: 30em;
}

.profile-name{
    text-align: left;
    width: 45%;
}

.profile-icon{
    width: 35%;
}

.personal-menus a{
    color: inherit;
    text-decoration: none;
}

.personal-submenus a{
    color: inherit;
    text-decoration: none;
    font-weight: 900;
    font-size: 20px;
}

.edit-button{
    padding: 10px;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
    font-size: 17px;
    border: none;
    margin-top: 5%;
    width: 60%;
    background-color: #72ccff;
}

.delete-account-button{
    padding: 10px;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
    font-size: 17px;
    border: none;
    margin-top: 6%;
    width: 60%;
    background-color: red;
}

.edit-profile-name{
  text-align: left;
}

.edit-save-button{
    float: right;
    width: 20%;
    margin-top: 2em;
    padding: 10px;
    background-color: #72ccff;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
    font-size: 17px;
    border: none;
}

.edit-post{
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: default;
}


.hidden-post{
    display: none;
}

@media screen and (max-width: 48em){
    .profile-details{
        padding-left: 5px;
        padding-right: 5px;
    }
    .personal-submenus a{
        font-size:15px;
    }

    .user-icon{
        width: 75px;
    }

    .profile-name a{
        font-size: 15px;
    }

    .profile-name h1{
        font-size: 20px;
    }
  }