body {
  font-family: 'Poppins';
  font-weight: bolder;
}

/* for appName CAPSULE */

.heading {
  /* margin-left: 20px; */
  background-color: #72ccff;
  width: 100%;
  color: white;
  /* padding: .25em;
  padding-left: .8em; */
  padding-top:.25em;
  padding-bottom:.25em;
  font-family: 'Poppins';
  font-weight: bolder;
  letter-spacing: 2px;
  font-size: 40px;
  top: 0;
  position: fixed;
  height: 1.3em;
  z-index: 999;
}

a:link, a:visited, a:hover, a:active { 
  text-decoration: none; 
  color: inherit;
}

.pure-img-responsive {
  max-width: 100%;
  height: auto;
}

.heading .capsule{
  padding-left:.8em;
}

.heading .profile{
  line-height:40px;
  font-size:.5em;
  float:right;
  margin-right:10px;
  margin-top:10px;
}

.heading .icon{
  border-radius:50%;
  height: 40px;
  margin-right:10px;
  vertical-align: middle;
}

.heading .login {
  float:right;
  font-size: 40%;
  margin-right: .5em;
  margin-top: .6em;
  letter-spacing: 1px;
  padding: 5px;
}

.heading .login:hover {
  color: rgb(239, 239, 239);
}


.heading .logout {
  float:right;
  font-size: 60%;
  margin-right: .5em;
  margin-top: .7em;
  /* background-color: transparent; */
}

.heading .logout:hover {
  color: rgb(234, 234, 234);
}

.username {
  font-size: .7em;
  letter-spacing: 1px;
}

/*
Add transition to containers so they can push in and out.
*/
#layout,
#menu,
.menu-link {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

/*
This is the parent `<div>` that contains the menu and the content area.
*/
#layout {
  /* position: fixed; */
  /* height: 100vh; */
  left: 0;
  top: 1em;
  padding-left: 0;
}

#layout.active #menu {
    left: 250px;
    width: 250px;
    /* top: 4.12em; */
}

#layout.active .menu-link {
    left: 250px;
    /* top: 7em; */
}


/*
The `#menu` `<div>` is the parent `<div>` that contains the `.pure-menu` that
appears on the left side of the page.
*/

#menu {
  margin-left: -250px; /* "#menu" width */
  width: 250px;
  position: fixed;
  top: 4.5em;
  left: 0;
  bottom: 0;
  z-index: 1000; /* so the menu or its navicon stays above all content */
  background: #f6f6f6;
  overflow-y: auto;
}
  /*
  All anchors inside the menu should be styled like this.
  */
  #menu a {
      color: rgb(128, 128, 128);
      border: none;

      /* top, right, left, bottom  */
      padding-top: 1.5em;
      padding-bottom: 1.5em;
      text-align: center;
  }

  /*
  Remove all background/borders, since we are applying them to #menu.
  */
  #menu .pure-menu,
  #menu .pure-menu ul {
      border: none;
      background: transparent;
  }

  /*
  Add that light border to separate items into groups.
  */
  #menu .pure-menu ul,
  #menu .pure-menu .menu-item-divided {
      border-top: none;
  }
      /*
      Change color of the anchor links on hover/focus.
      */
      #menu .pure-menu li a:hover,
      #menu .pure-menu li a:focus {
          background: rgb(232, 232, 232);
      }

  /*
  This styles the selected menu item `<li>`.
  */
  #menu .pure-menu-selected,
  #menu .pure-menu-heading {
      background: #72ccff;
  }
      /*
      This styles a link within a selected menu item `<li>`.
      */
      #menu .pure-menu-selected a {
          color: #fff;
      }

  /*
  This styles the menu heading.
  */
  #menu .pure-menu-heading {
      font-size: 110%;
      color: #fff;
      margin: 0;
  }

/* -- Dynamic Button For Responsive Menu -------------------------------------*/

/*
The button to open/close the Menu is custom-made and not part of Pure. Here's
how it works:
*/

/*
`.menu-link` represents the responsive menu toggle that shows/hides on
small screens.
*/
.menu-link {
  position: fixed;
  display: block; /* show this only on small screens */
  top: 0;
  left: 0; /* "#menu width" */
  /* background: #000; */
  background: rgba(189, 188, 188, 0.7);
  font-size: 10px; /* change this value to increase/decrease button size */
  z-index: 10;
  width: 2em;
  height: auto;
  padding: 2.1em 1.6em;
  top: 7em;
}

.menu-link:hover,
.menu-link:focus {
    background: rgba(170, 170, 170, 0.7);
}

.menu-link span {
    position: relative;
    display: block;
}

.menu-link span,
.menu-link span:before,
.menu-link span:after {
    background-color: #fff;
    pointer-events: none;
    width: 100%;
    height: 0.2em;
}

    .menu-link span:before,
    .menu-link span:after {
        position: absolute;
        margin-top: -0.6em;
        content: " ";
    }

    .menu-link span:after {
        margin-top: 0.6em;
    }



/* for the right side body  */
#main {
  margin-top: 4em;
  position:absolute;
  right: 0;
  left: 250px;
}

.content {
  margin: 0 auto;
  padding: 0 2em;
  max-width: 80vw;
  margin-bottom: 50px;
  justify-content: center;
  align-items: center;
}

.header {
  margin: 0;
  color: #333;
  text-align: center;
  border-bottom: 1px solid #eee;
}

.header h1 {
    margin: 0.2em 0;
    font-size: 3em;
    font-weight: 300;
}

.content-subhead {
  margin: 50px 0 20px 0;
  font-weight: 300;
  color: #888;
}



/* -- Responsive Styles (Media Queries) ------------------------------------- */

/*
Hides the menu at `48em`, but modify this based on your app's needs.
*/
@media (min-width: 48em) {

  .header,
  .content {
      padding-left: 2em;
      padding-right: 2em;
  }

  #layout {
      padding-left: 250px; /* left col width "#menu" */
      left: 0;
  }
  #menu {
      left: 250px;
      top: 4.5em;
  }

  .menu-link {
      /* position: fixed; */
      left: 250px;
      display: none;
  }

  #layout.active .menu-link {
      left: 250px;
  }

  /* #main {
    width: 100%;
  } */
}

@media (max-width: 48em) {
  /* Only apply this when the window is small. Otherwise, the following
  case results in extra padding on the left:
      * Make the window small.
      * Tap the menu to trigger the active state.
      * Make the window large again.
  */
  #layout.active {
      position: relative;
      left: 250px;
  }

  /* #main {
    width: 100%;
  } */

  .content {
    max-width: -webkit-fill-available;
    margin-left: -250px;
  }
  .heading .profile{
    margin-right:0;
  }

  .heading .profile span{
    display:none;
  }
}

