body {
  font-family: 'Poppins';
  font-weight: lighter;
}

/* center the search bar */
.search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.post-body {
  height: 15em;
  overflow-y: auto;
  font-size: small;
}

/* center the search box and button */
.search-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* set background color and shape of search bar */
input[type='text'] {
  background-color: #d0d2d3;
  border: none;
  padding: 10px 20px;
  border-radius: 50px;
  width: 500px;
  font-size: 16px;
  color: #727272;
}

/* set position and styles for the search button */
button[type='submit'] {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 16px;
  color: #727272;
  position: absolute;
  right: 0;
}

@media (max-width: 600px) {
  /* adjust styles for smaller screens */
  input[type='text'] {
    width: 80%;
    font-size: 14px;
    padding: 8px 16px;
  }
}

/* adjust styles for smaller screens */
@media (max-width: 600px) {
  .search-wrapper {
    flex-direction: row;
  }

  /* adjust position and styles for the search button */
  button[type='submit'] {
    position: relative;
    margin-left: 0; /* remove left margin */
    margin-top: 10px;
  }
}

/* set placeholder color */
input[type='text']::placeholder {
  color: #727272;
}

/* make the search bar oval */
input[type='text']:focus {
  outline: none;
  border-radius: 50px;
}

input[type='text']::placeholder:focus {
  outline: none;
}

/* adjust image size and layout for smaller screens */
@media (max-width: 600px) {
  .pure-g img {
    width: 80%;
    height: auto;
    margin-bottom: 10px;
  }
}

.pure-g img {
  width: 95%;
  height: auto;
  margin-bottom: 10px;
  margin-left: 10px;
  border-radius: 5px;
}
/* style the images */
.pure-u-1-3 img {
  display: block;
  margin-bottom: 10px;
}

/* add margin to the right of each image except the last one in each row */
.pure-u-1-3 img:not(:last-child) {
  margin-right: 10px;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins';
  font-weight: lighter;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  width: 84%;
  float: center;
}

.post {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.post img {
  align-items: center;
  max-width: 100%;
  height: auto;
  min-height: 250px;
}

.post-body {
  height: 10em;
  overflow-y: auto;
  font-size: small;
}

.post-icons {
  display: flex;
  justify-content: space-between;
}

.post-icons span {
  display: flex;
  align-items: space-evenly;
  font-size: 20px;
  color: black;
  cursor: auto;
}

/* change this to desired color */
.is-liked {
  color: rgb(253, 216, 92);
}

.like-button {
  cursor: pointer;
}

/* .post-icons .like-icon .pure-menu-link {
  display: flex;
} */

.like-number {
  display: inline-block;
}

.comment-number {
  display: inline-block;
}

#comment {
  margin-left: 0.5em;
}

@media (min-width: 30em) {
  .post {
    text-align: left;
  }
}
