html, body {
  height: 100%;
  width: 100%;
}

.heading {
  /* margin-left: 20px; */
  background-color: #72ccff;
  width: 100%;
  color: white;
  font-size: 20px;
}

.heading {
  /* height: 100%; */
  padding: 10px;
  padding-left: 1em;
  font-family: 'Poppins';
  font-weight: bolder;
  color: white;
  letter-spacing:1px;
  /* text-shadow: 1px 0 #9c9c9c; */
  font-size: 30px;
}

.sidebar {
  height: 85%;
}

.sidebar {
  width: 16%;
  float: left;
  box-sizing: border-box;
  padding: 10px;
  border-right: 1px solid #ccc;
}


.pure-menu {
  height: 100%;
  width: 100%;
}

.pure-menu-heading {
  overflow: hidden;
  background-color: #72CCFF;
  padding-left: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 37px;
  font-family: 'Poppins';
  font-weight: bolder;
  color: white;
  text-transform: none;
  letter-spacing:1px;
  text-shadow: 1px 0 #9c9c9c;
  width: 100%;
  display: block;

}

.pure-menu-list {
  padding: 7px 7px;
  padding-top: 1em;
  margin-left: 2em;
  /* padding-left: 5px; */
  font-weight: lighter;
  font-family: 'Poppins';
}

.pure-menu-item {
  font-size: 16px;
  height: 4em;
}

.pure-u-5-6 {
  width: 50em;
  margin-top: 6em;
  margin-left: 2em;
  padding-left: 5px;
}

/* Hide the vertical line on mobile */
@media screen and (max-width: 767px) {
  .sidebar .pure-menu-link:before {
    display: none;
  }
}

/* Adjust the layout for tablets and small desktop screens */
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .sidebar {
    width: 25%;
  }
  .pure-u-5-6 {
    width: 75%;
  }
}

/* Adjust the layout for large desktop screens */
@media screen and (min-width: 1200px) {
  .sidebar {
    width: 16.67%;
  }
  .pure-u-5-6 {
    width: 83.33%;
  }
}

@media screen and (max-width: 767px) {
  .sidebar {
    width: 100%;
    float: none;
  }
}