{% extends "base.html" %}

{% block head_others %}
<link rel="stylesheet" href="../static/css/comments.css">
<script src="../static/js/myjs.js" defer></script>
{% endblock %}

{% block content %}
{% import 'responsiveSideBar.html' as sideBar %}

<!-- header and sideBar -->

{%- call sideBar.sideBar() -%}
<!-- the right part body  -->

<div>
  {% for comment in comments %}
  <div class="comments">
    <div class="posted-comments">
      <div class="pure-u-1 pure-u-md-1-2 comment-container">
        <p id="comment-name" class="author">
          <i class="far fa-user fa-lg"></i> 
          {{ comment.user_name }}
        </p>
        
        <p class="comment-body"> {{ comment.comment }}</p>
        <p class="comment-time">{{ comment.timestamp }}</p>
      </div>
    </div>
  </div>
  {% endfor %}

  <div class="input-section">
    <form method="post" id="comment-form">
      <textarea name="comment" class="comment-input" placeholder="Add comment here..."></textarea>
      <button type="submit" class="post-button">Post</button>
    </form>
  </div>

</div>


{%- endcall -%}
{% endblock %}