{% extends "base.html" %}

{% block head_others %}
<title>Vertical Gallery Page</title>
<link rel="stylesheet" href="../static/css/gallery.css" />
<script async src="../static/js/scroll.js"></script>
<script src="../static/js/gallery.js" defer></script>
{% endblock %}

{% block content %}

{% import 'responsiveSideBar.html' as sideBar %}

<!-- header and sideBar -->

{% call sideBar.sideBar() %}
<div id="{{session.sub}}" class="owner-id-gallery-page container">

  <!-- responsive render posts  -->
  <ul class="pure-g">
    {% for photo in photos %}
    <li class="pure-u-1 pure-u-sm-1-3 pure-u-md-1-3 pure-u-xl-1-4 inner-container">
      <a href="/comments/{{photo.id}}">
        <div class=" post">
          <img src="{{photo.image_url}}" alt="{{ photo.title }}">
          <h2>{{ photo.title }}</h2>
          {% if photo.description %}
          <div class="post-body">{{ photo.description }}</div>
          {% endif %}
        </div>
      </a>

      <div class="post-icons post-{{loop.index}}" id="{{photo.id}}">
        <span class="like-icon">
          <div>
            <i id="like-button-{{loop.index}}" class="like-button fa fa-thumbs-up"></i>
            <p class="like-number" id="like-num"> 0</p>
          </div>
          <a href="/comments/{{photo.id}}" id="comment" uid={{photo.id}}>
            <i class="fa fa-comment"></i>
            <p class="comment-number" id="comment-num"> 0</p>
          </a>
        </span>
      </div>

    </li>
    {% endfor %}
  </ul>

</div>


{% endcall %}
{% endblock %}
