<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poppins" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/1.0.1/pure-min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v6.3.0/css/all.css">
        <link rel="stylesheet" href="../static/css/login.css">
    </head>

    <body>
        <div class="container">
        <!--capsule-->
            <div class="heading">
                Capsule
            </div>
            <!--login button-->
            <a class="login pure-button" id="login" name="login" href="/login">Login</a>
            
        </div>
    </body>
</html>