<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poppins" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/1.0.1/pure-min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v6.3.0/css/all.css">
        <link rel="stylesheet" href="../static/css/login.css">
    </head>

    <body>
        <div class="container">
        <!--capsule-->
            <!-- <div class="heading">
                Capsule
            </div> -->
            <!--login button-->
            <!-- <a class="login pure-button" id="login" name="login" href="/login">Login</a> -->
            

            <div class="splash-container">
                <img class="pure-img-responsive background-img" src="../static/img/hot_air_balloons.jpg" alt="background_photo">
                <div class="splash">
                    <img class="pure-img-responsive fix" src="../static/img/plane_art_v4.svg" alt="plane_art">
                    <h1 class="splash-head">Capsule</h1>
                    <p class="splash-subhead">
                        Travel the World, Share Your Journey, and Connect with Like-Minded Adventurers!
                    </p>
                    <p>
                        <a id="button" name="button" class="pure-button pure-button-primary" href="/gallery">Start Exploring</a>
                    </p>
                </div>
            </div>
            

        </div>
    </body>
</html>