<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poppins" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/1.0.1/pure-min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v6.3.0/css/all.css">
        <link rel="stylesheet" href="../static/css/login.css">
    </head>

    <body>
        <div class="container">
        <!--capsule-->
            <div class="heading">
                Capsule
            </div>
            <!--login form-->
            <form class="pure-form pure-form-aligned">
                <div class="pure-control-group">
                    <input type="text" id="email" name ="email" placeholder="Email" required="">
                </div>
                <div class="pure-control-group">
                    <input type="text" id="password" name ="password" placeholder="Password" required="">
                </div>
                <div class="pure-control-group">
                    <a class="login pure-button" id="login" name="login" href="/profile">Login</a>
                </div>
            </form>
            <div class="sign-up-prompt">
                Don't have an account?
                <a class="sign-up-link pure-button" id="sign-up-link" name="sign-up-link" href="/signUpPage">Sign Up</a>
            </div>
        </div>
    </body>
</html>