{% extends "base.html" %}

{% block head_others %} 
  <link rel="stylesheet" href="../static/css/profile.css">
  <script src="../static/js/profile.js" defer></script>
{% endblock %}

{% block content %}


  {% import 'responsiveSideBar.html' as sideBar %}

    <!-- header and sideBar -->

    {%- call sideBar.sideBar() -%}
    <!-- the right part body  -->
    
    <div class="profile-details pure-g">
      <!-- username here -->
      <div class="profile-icon pure-u-1-2">
        <img class="user-icon" src="{{ session.userinfo.picture }}" alt="">
      </div>

      <div class="profile-name pure-u-1-2">
        
        <div class="pure-g">
          <div class="pure-u-1-2">
            <h1>{{session.userinfo.name}}</h1>
          </div>
          <div class="pure-u-1-2">
            <form action="/editProfile">
              <button type="submit" class="edit-button">Edit profile</button>
            </form>
            
          </div>
        </div>
        
        <div class="personal-menus pure-g">
          <div class="pure-u-1-2">
            <a href="/profile">{{posts_count}} Post</a>
          </div>
          <div class="pure-u-1-2">
            <a href="/liked">{{personal_likes_count}} Liked</a>
          </div>
        </div>
      </div>
    </div>

    <div class="personal-submenus profile-subdetails pure-g">
      <div class="pure-u-1-3">
        <a href="/profile">Post</a>
      </div>
      <div class="pure-u-1-3 profile-subdetails-middle">
        <a href="/liked">Liked</a>
      </div>
    </div>

    <div class="profile-images pure-g">
      {% for photo in photos %}
      <div class="pure-u-1-3">
        <div class="upload-box">
          <img id="{{loop.index}}" class="profile-img" src="{{photo.image_url}}" alt="Post">
          {% if request.path == "/profile" %}
          <form action="/editPost" method="get">
            <input class="hidden" type="text" name="photo_id" value="{{photo.id}}">
            <div class="edit-post-container">
              <button id="button-{{loop.index}}" class="edit-post" type="submit">Edit</button>
            </div>
            
          </form>  
          {% endif %}
        </div>

      </div>
      {% endfor %}
    </div>

  {%- endcall -%}
{% endblock %}
