{% extends "base.html" %}

{% block head_others %}
<title>Vertical Gallery Page</title>
<link rel="stylesheet" href="../static/css/search.css" />
<script src="../static/js/search.js" defer></script>
{% endblock %}

{% block content %}

{% import 'responsiveSideBar.html' as sideBar %}

<!-- header and sideBar -->
{% call sideBar.sideBar() %}

<!-- the right part body  -->
<div class="search-container">
  <form action="/search" method="POST">
    <input type="text" placeholder="Search..." name="query" />
    <button type="submit"><i class="fa fa-search"></i></button>
  </form>
</div>


<h1 class="search-result-title">Search Results</h1>

{% if query %}
<p>You searched for "{{ query }}".</p>
{% if photos %}
<ul class="pure-g">
  {% for photo in photos %}
  <li class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-3">
    <a href="{{ photo.image_url }}">
      <img src="{{ photo.image_url }}" alt="{{ photo.title }}" />
    </a>
    <h2>{{ photo.title }}</h2>
    {% if photo.description %}
    <p>{{ photo.description }}</p>
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% else %}
<p>No results found.</p>
<div class="pure-g">
  <img src="https://picsum.photos/id/10/400/400" alt="travel photo" />
</div>
{% endif %} {% else %}
<p>No search query entered.</p>
{% endif %}

{% endcall %}

{% endblock %}