<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poppins" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/1.0.1/pure-min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v6.3.0/css/all.css">

    <link rel="stylesheet" href="../static/css/header.css">

  </head>

  {% macro header() -%}

  <div class="heading">
      Capsule
  </div>

  <div class="sidebar">
    <div class="pure-menu">
      <ul class="pure-menu-list">
        <li class="pure-menu-item"><a href="/gallery" class="pure-menu-link"><i class="fas fa-image"></i> Gallery</a>
        </li>
        <li class="pure-menu-item"><a href="/search" class="pure-menu-link"><i class="fas fa-search"></i> Search</a>
        </li>
        <li class="pure-menu-item"><a href="/profile" class="pure-menu-link"><i class="far fa-heart"></i> Liked</a></li>
        <li class="pure-menu-item"><a href="/profile" class="pure-menu-link"><i class="far fa-bookmark"></i> Saved</a>
        </li>
        <li class="pure-menu-item"><a href="/addPost" class="pure-menu-link"><i class="fas fa-plus"></i> New Post</a>
        </li>
      </ul>
    </div>
  </div>
  {%- endmacro %}

  <body>

    <!-- <div class="pure-g"> -->
      {{ header() }}

      <!-- the right part body  -->
      <div>
        test
      </div>
    <!-- </div> -->

  </body>

  <script src="../static/js/myjs.js"></script>


</html>
